{% extends 'base.html' %}


{% block title %}
    Recuperar contraseña
{% endblock title %}


{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
        <h1 class="h3 red fw-normal">DirCom<span class="fw-bold text-dark">CRM</span></h1>
        <div class="mt-5">
            <h2 class="text-center">Recuperar contraseña</h2>
            <p>
                Te enviaremos un correo electrónico a la dirección que especifiques.
            </p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'users_app:login' %}">Volver al login</a>
                </div>
                <div class="mt-3">
                    <button class="btn btn-red btn-block" type="submit">Recuperar contraseña</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}